{% extends "base.html" %}


{% block content %}

  <h1>Leave a Comment</h1>

<p> Please leave a comment for the Item {{ item.name }}</p>
<img src="{{ url_for('serve_image', name=item.image)}}" alt="" class="circle" width="128">

  <form method="POST">
    <div class="row">
      <div class="input-field col s6">
	<p class="range-field">
	  <input type="range" id="rating" name="rating" min="0" max="5" value="{{review.stars}}"/>
	</p>

        <label for="rating">Rating</label>

      </div>
      
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" name="review" class="materialize-textarea" rows=10>{{review.review}}</textarea>

        <label for="textarea1">Feedback</label>
      </div>
    </div>

    <input type="hidden" name="reviewId" value="{{review.id}}">    
    <button class="waves-effect waves-light btn">Submit</button>
  </form>

{% endblock content %}
